mlx-whisper==0.4.3
opencc-python-reimplemented==0.1.7
pyobjc-core==11.1
pyobjc-framework-AVFoundation==11.1
pyobjc-framework-Cocoa==11.1
pyobjc-framework-CoreAudio==11.1
pyobjc-framework-CoreMedia==11.1
pyobjc-framework-Quartz==11.1
scipy==1.15.3
sounddevice==0.5.6
soundfile==0.14.0
